* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  transition: ease-out 0.3s;
  /* border: 1px solid black; */
}

body {
  background-image: url(Images/basketballCourt.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  image-rendering: pixelated;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.counter {
  background-color: rgba(0, 0, 0, 0.771);
  padding: 20px;
  border: 5px solid rgb(255, 136, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.5);
}
.counter img {
  position: relative;
  width: 80px;
  top: -60px;
  rotate: 100deg;
}
h1 {
  color: rgb(255, 255, 255);
  margin-top: -50px;
  font-size: 45px;
}

.teams {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 0px;
  /* width: 100%; */
}

button {
  padding: 10px 20px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 20px;
}

.team {
  text-align: center;
  width: 300px;
  padding: 30px;
  border-radius: 13px;
}

.redTeam {
  background-color: #ffcccc;
  border: 2px solid rgb(255, 0, 0);
  box-shadow: 0px 4px 20px 5px rgba(255, 0, 0, 0.5);
}

.blueTeam {
  border: 2px solid rgb(0, 102, 255);
  background-color: #ccf1ff;
  box-shadow: 0px 4px 20px 5px rgba(0, 208, 255, 0.5);
}

.team h2 {
  font-size: 38px;
}

.team-points {
  font-size: 20px;
  font-style: italic;
  margin-top: 16px;
  font-weight: 600;
}
.add-point {
  color: white;
  margin: 22px 0px;
  opacity: 0.7;
}
.add-point.red {
  background-color: #ff0000;
}
.add-point.blue {
  background-color: #0000ff;
}
.add-point:hover {
  opacity: 1;
}
.add-point:active {
  transform: scale(0.8);
}
.team:hover {
  transform: scale(1.05);
}
.previous-match {
  font-size: 14px;
  font-style: italic;
  margin-top: 25px;
}

#save-points {
  background-color: rgba(1, 130, 5, 0.726);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 255, 0);
  font-size: 16px;
}

#save-points:hover {
  background-color: rgb(1, 130, 5);
  box-shadow: 0px 0px 20px 2px rgba(26, 255, 0, 0.5);
}

#save-points:active {
  background-color: rgb(0, 255, 0);
  color: rgba(0, 0, 0, 0.771);
  border-color: rgba(1, 130, 5, 0.726);
}

#end-game {
  background-color: rgb(178, 2, 2, 0.726);
  font-size: 18px;
  color: rgb(255, 255, 255);
  padding: 10px 35px;
  margin-top: 30px;
  border: 2px solid rgb(255, 0, 0);
}
#end-game:hover {
  background-color: rgba(178, 2, 2, 0.9);
  box-shadow: 0px 4px 20px 5px rgb(178, 2, 2);
  transform: scale(1.2);
}

#end-game:active {
  background-color: rgb(255, 0, 0);
  border-color: rgb(255, 255, 255);
}

.total-points {
  font-size: 18px;
}
